extends layout

block content
  // Navigation
  nav.navbar.navbar-custom.navbar-fixed-top(role='navigation' ng-controller="collapseCtrl")
    .container
      .navbar-header
        button.navbar-toggle(ng-click="isCollapsed = !isCollapsed")
          i.fa.fa-bars
        |                 
        a.navbar-brand.page-scroll(href='#page-top')
          //i.fa.fa-play-circle
          |   
          span.light Jamie & Jorge 
          span= __("wedding")
      // Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse.navbar-right.navbar-main-collapse(collapse="isCollapsed")
        ul.nav.navbar-nav
          // Hidden li included to remove active class from about link when scrolled up past about section
          li.hidden
            a(href='#page-top')
          li
            a.page-scroll(href='#about')= __("wedding info")
          li
            a.page-scroll(href='#accommodations')= __("accommodations")
          li
            a.page-scroll(href='#rsvp')=__("rsvp")
          li
            a.page-scroll(href='#advice')= __("advice")
          li
            a.page-scroll(href='#music')= __("music")
          li
            a.page-scroll(href='#contact')= __("contact")

      // /.navbar-collapse
    // /.container
    // Intro Header
  header.intro
      .intro-body
        .container
          .row
            .col-md-8.col-md-offset-2
              h1.brand-heading.font-hand J
                small &
                | J
              h2= __("spanish wedding")
              p.intro-text= __("intro text")
              a.btn.btn-circle.page-scroll(href='#about')
                i.fa.fa-angle-double-down.animated
  // About Section
  section#about.container-fluid.content-section.text-center
      .col-lg-8.col-lg-offset-2
        h2= __("wedding info")
        span.section-icon.date-icon(aria-hidden="true" data-icon!="&#xe600;")
        h3= __("wedding hour")
        address
          div.btn-link
            a(href="http://www.lapenabermeja.com")
              div.btn.btn-default.btn-lg!= __("wedding place")
          div= __("wedding address")
          div= __("wedding address 2")
        p= __("wedding description 1")
        p= __("wedding description 2")
        hr
        h3.subtitle= __("dress code")
        p= __("wedding dress code")
  // Map Section
  #map
  section#accommodations.container-fluid.content-section.text-center
      .col-lg-8.col-lg-offset-2
        h2= __("accommodations")
        span.section-icon.accommodations-icon(aria-hidden="true" data-icon!="&#xe604;")
        h4= __("wedding hour")
        address
          h5= __("wedding place")
          div= __("wedding address")
          div= __("wedding address 2")
        p= __("wedding description")

  // Download Section
  section#rsvp.container-fluid.content-section.text-center(ng-controller="rsvpCtrl")
        .col-lg-8.col-lg-offset-2
          h2= __("rsvp")
          span.section-icon.rsvp-icon(aria-hidden="true" data-icon!="&#xe602;")
          h4!= __("rsvp comment")
          h3!= __("rsvp request")
          flash:messages
          form(ng-submit="addRsvp()")
            div.form-group.col-xs-12.col-sm-12
              div.col-xs-12.col-sm-12
                input.form-control.input-lg(type="text" placeholder=__("first name") ng-model="firstName")
            div.form-group.col-xs-12.col-sm-12
              div.col-xs-12.col-sm-12
                input.form-control.input-lg(type="text" placeholder=__("last name") ng-model="lastName")
            div.form-group.col-xs-12.col-sm-12
              div.col-xs-12.col-sm-12
                input.form-control.input-lg(type="text" placeholder=__("email") ng-model="email")
            div.form-group.col-xs-12.col-sm-12
              h3= __("rsvp assist")
              label.btn.btn-success.btn-lg(ng-model="assistChoice" ng-click="assist = true" btn-radio="true") yes
              label.btn.btn-danger.btn-lg(ng-model="assistChoice" ng-click="assist = false" btn-radio="false") no
            div.form-group.col-xs-12.col-sm-12(ng-show="assist")
                p= __("rsvp transportation")
                h3= __("rsvp sleep")
                div.btn-link
                  label.btn.btn-default(ng-model="sleepPrefChoice" btn-radio="'Madrid'")= __("rsvp option 1")
                  label.btn.btn-default(ng-model="sleepPrefChoice" btn-radio="'Brihuega'")= __("rsvp option 2")
            div.form-group.col-xs-12.col-sm-12
              div.col-sm-6.col-sm-offset-3
                button.btn.btn-success.btn-lg.btn-block(type="submit")= __("confirm")

  // Advice Section
  section#advice.container-fluid.content-section.text-center(ng-controller="adviceCtrl")
      .col-lg-8.col-lg-offset-2
        h2= __("advice title")
        img.advice-image(src="images/novios.svg")
        h4= __("advice intro")
        div.panel.panel-default(ng-repeat="advice in adviceList | orderBy: '-created' | limitTo:3")
          div.panel-heading
            h3.panel-title.advice-name {{advice.name}} 
              small at {{advice.created | date:'dd-MM-yyyy HH:mm:ss'}}
          div.panel-body
            p.advice-content {{advice.content}}
        div.advice-form
          h3 Give advice 
          flash:messages
          form(ng-submit="addAdvice()")
            div.form-group.col-xs-12.col-sm-12
              div.col-xs-12.col-sm-12
                input.form-control.input-lg(type="text" placeholder=__("full name") ng-model="name")
            div.form-group.col-xs-12.col-sm-12
              div.col-xs-12.col-sm-12
                label Advice
                textarea.form-control(rows="4" ng-model="content")
            div.form-group.col-xs-12.col-sm-12
                div.col-sm-6.col-sm-offset-3
                  button.btn.btn-primary.btn-lg.btn-block(type="submit")= __("confirm")

  section#music.container-fluid.content-section.text-center(ng-controller="musicCtrl")
      .col-lg-8.col-lg-offset-2
        h2= __("music")
        span.section-icon.rsvp-icon(aria-hidden="true" data-icon!="&#xe603;")
        h4= __("music info")
        div.panel.panel-default(ng-repeat="song in musicList | orderBy: '-created' | limitTo:3")
          div.panel-heading
            h3.panel-title.advice-name {{song.name}} 
          div.panel-body
            p.advice-content {{song.artist}}
            p.advice-content {{song.title}}
        div.advice-form
          h3 Request a song
          flash:messages
          form(ng-submit="addSong()")
            div.form-group.col-xs-12.col-sm-12
              div.col-xs-12.col-sm-12
                input.form-control.input-lg(type="text" placeholder=__("full name") ng-model="name")
            div.form-group.col-xs-12.col-sm-12
              div.col-xs-12.col-sm-12
                input.form-control.input-lg(type="text" placeholder=__("artist") ng-model="artist")
            div.form-group.col-xs-12.col-sm-12
              div.col-xs-12.col-sm-12
                input.form-control.input-lg(type="text" placeholder=__("song title") ng-model="title")
            div.form-group.col-xs-12.col-sm-12
                div.col-sm-6.col-sm-offset-3
                  button.btn.btn-primary.btn-lg.btn-block(type="submit")= __("confirm")



  // Contact Section
  section#contact.container-fluid.content-section.text-center
      .col-lg-8.col-lg-offset-2
        h2= __("contact title")
        h4= __("contact text")
        p
          a(href='mailto:wedding@jamieandjorge.com') wedding@jamieandjorge.com
        |                 
        ul.list-inline.banner-social-buttons
          li
            a.btn.btn-default.btn-lg(href='tel:620374968')
              i.fa.fa-phone.fa-fw
              |  
              span.network-name J&J
