extends layout

block content
  // Navigation
  nav.navbar.navbar-custom.navbar-fixed-top(role='navigation' ng-controller="collapseCtrl")
    .container
      .navbar-header
        button.navbar-toggle(ng-click="isCollapsed = !isCollapsed")
          i.fa.fa-bars
        |                 
        a.navbar-brand.page-scroll(href='#page-top')
          //i.fa.fa-play-circle
          |   
          span.light Jamie & Jorge 
          span= __("wedding")
      // Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse.navbar-right.navbar-main-collapse(collapse="isCollapsed")
        ul.nav.navbar-nav
          // Hidden li included to remove active class from about link when scrolled up past about section
          li.hidden
            a(href='#page-top')
          li
            a.page-scroll(href='#about')= __("wedding info")
          li
            a.page-scroll(href='#rsvp')=__("rsvp")
          li
            a.page-scroll(href='#advice')= __("advice")
          li
            a.page-scroll(href='#contact')= __("contact")

      // /.navbar-collapse
    // /.container
    // Intro Header
  header.intro
      .intro-body
        .container
          .row
            .col-md-8.col-md-offset-2
              h1.brand-heading.font-hand J
                small &
                | J
              h2= __("spanish wedding")
              p.intro-text= __("intro text")
              a.btn.btn-circle.page-scroll(href='#about')
                i.fa.fa-angle-double-down.animated
  // About Section
  section#about.container.content-section.text-center
    .row
      .col-lg-8.col-lg-offset-2
        h2= __("wedding info")
        h3!= __("wedding date")
        h4= __("wedding hour")
        address
          h5= __("wedding place")
          div= __("wedding address")
          div= __("wedding address 2")
        p= __("wedding description")
  // Map Section
  #map

  // Download Section
  section#rsvp.content-section.text-center(ng-controller="rsvpCtrl")
    .download-section
      .container
        .col-lg-8.col-lg-offset-2
          h2= __("rsvp")
          flash:messages
          form(ng-submit="addRsvp()")
            div.form-group.col-xs-12.col-sm-12
              div.col-xs-12.col-sm-12
                input.form-control.input-lg(type="text" placeholder=__("first name") ng-model="firstName")
            div.form-group.col-xs-12.col-sm-12
              div.col-xs-12.col-sm-12
                input.form-control.input-lg(type="text" placeholder=__("last name") ng-model="lastName")
            div.form-group.col-xs-12.col-sm-12
              div.col-xs-12.col-sm-12
                input.form-control.input-lg(type="text" placeholder=__("email") ng-model="email")
            div.form-group.col-xs-12.col-sm-12
              h5= __("rsvp assist")
              label.btn.btn-success.btn-lg(ng-model="assistChoice" ng-click="assist = true" btn-radio="true") yes
              label.btn.btn-danger.btn-lg(ng-model="assistChoice" ng-click="assist = false" btn-radio="false") no
            div.form-group.col-xs-12.col-sm-12(ng-show="assist")
                h5= __("rsvp sleep")
                label.btn.btn-default(ng-model="sleepPrefChoice" btn-radio="'Brihuega Car'") Brihuega Car
                label.btn.btn-default(ng-model="sleepPrefChoice" btn-radio="'Brihuega no car'") Brihuega no car
                label.btn.btn-default(ng-model="sleepPrefChoice" btn-radio="'Madrid Car'") Madrid Car
                label.btn.btn-default(ng-model="sleepPrefChoice" btn-radio="'Madrid no car'") Madrid no car
            div.form-group.col-xs-12.col-sm-12
              div.col-sm-6.col-sm-offset-3
                button.btn.btn-success.btn-lg.btn-block(type="submit")= __("confirm")

  // Advice Section
  section#advice.content-section.text-center(ng-controller="adviceCtrl")
    .container
      .col-lg-8.col-lg-offset-2
        h2= __("advice title")
        div(ng-repeat="advice in adviceList | orderBy: '-created' | limitTo:3")
          h5.text-success.advice-name {{advice.name}} 
            small at {{advice.created | date:'dd-MM-yyyy HH:mm:ss'}}
          p.advice-content {{advice.content}}
        h3 Give advice 
        flash:messages
        form(ng-submit="addAdvice()")
          div.form-group.col-xs-12.col-sm-12
            div.col-xs-12.col-sm-12
              input.form-control.input-lg(type="text" placeholder=__("name") ng-model="name")
          div.form-group.col-xs-12.col-sm-12
            div.col-xs-12.col-sm-12
              label Advice
              textarea.form-control(rows="4" ng-model="content")
          div.form-group.col-xs-12.col-sm-12
              div.col-sm-6.col-sm-offset-3
                button.btn.btn-primary.btn-lg.btn-block(type="submit")= __("confirm")



  // Contact Section
  section#contact.container.content-section.text-center
    .row
      .col-lg-8.col-lg-offset-2
        h2= __("contact title")
        |                 
        p
          | Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!
        |                 
        p
          a(href='mailto:wedding@jamieandjorge.com') wedding@jamieandjorge.com
        |                 
        ul.list-inline.banner-social-buttons
          li
            a.btn.btn-default.btn-lg(href='tel:620374968')
              i.fa.fa-phone.fa-fw
              |  
              span.network-name J&J
    // Footer
  footer
    .container.text-center
      p Copyright &copy; Jamie and Jorge wedding website 2014
  
